.measure_box {
  @include position(absolute,40% null null 50%);
  @include transform(translateX(-50%) translateY(-50%));
  width: 280px;
  height: 223px;
  background-color:#424242;
  color:#FFFFFF;
  box-shadow: 0 15px 12px 0 rgba(0,0,0,0.22), 0 19px 38px 0 rgba(0,0,0,0.30);
  border-radius: 2px;
  font-size: 20px;
  line-height: 28px;
  padding-top: 10px;
  z-index:10;

  span {
    display:block;
    position:relative;
    left:28px;
    top: 5px;
    padding-bottom:20px;

  }

  label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 15vw;
    padding-top: 2vw;
    font-size: 16px;
    line-height: 24px;
    width: 50%;
    height:56px;
    left:24px;
  }

  input[type=radio] {
    display: none;
  }

  label:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 4px;
    top: 8px;
    border: 2px solid rgba(255,255,255,0.70);
    border-radius: 12px;
  }
  
  input[type=radio]:checked +  label::before {
    content: url('../img/button.svg');
    border: none;
  }
}

body.platform-ios .measure_box {
  position: absolute;
  top: 17.5%;
  width: 100%;
  height: 25%;
  margin-top : 10px;
  background-color:#414141;
  box-shadow:none;

  label {
    height: 45px;
    width:  70%;
    padding: 0 ;
    padding-left: 15vw;
    &.measure-distance:before {
      content : url('../img/distance.svg');
      border: none;
      top: 0;
      padding-left: 4px;

    }
    &.measure-area:before {
      content : url('../img/area.svg');
      border: none;
      top: -3px;
    }
    &.measure-volume:before {
      content : url('../img/volume.svg');
      border: none;
      top: -3px;
    }
    &:after {
      content : '';
    }
  }
  input[type=radio]:checked + label:after  {
    content : url('../img/check.svg');
    float: right;
    display: inline-block;
    width: 20px;
    height: 20px;
  }
}
  





